@model EnRouteTicketing.Models.Terminal

@{
    ViewBag.Title = "Home Page";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('../../Content/images/bus.jpg');
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: #333;
            background-color: #fff;
        }

        .myjumb {
            opacity: 0.8 !important;
        }

        .ticketform {
           
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 500px;
        }

        .ticketforminner {
            background-color: mintcream;
            opacity: 0.9;
            border-radius: 8px;
            padding: 20px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .infocard {
            background-color: lavender;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .myticketformbtn {
            background-color: lightcoral;
            color: aliceblue;
        }
        .mycarousel {
                margin:auto;
                margin-top:25px;
        }

        .carousel-inner > .item > img {
            /*width: auto;*/
            height: 450px;
            width: auto;
            margin: auto;
            border-radius: 8px;
        }
       

    </style>
}

<div class="jumbotron myjumb">
    <h1 style=" opacity:1;">Welcome to EnRoute</h1> <p><bold>Intercity Bus Ticketing</bold></p>
    <p class="lead" style=" opacity:1; margin-bottom:-30px;"> <marquee behaviour="scroll" direction="left"><h4>Save Yourself the stress, Easy Ticket Purchases, Loads of Conviniences</h4></marquee></p>

</div>

<div class="row" style="min-height:150px;">

</div>

<div class="row ticketform">
    <div class="col-md-8">
        <div id="myCarousel" class="carousel slide mycarousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">

                    <img src="~/Content/images/queue.jpg" alt="Stop the hussle" />
                </div>

                <div class="item">
                    <img src="~/Content/images/busqueue.jpg" alt="No more queues" />
                </div>

                <div class="item">
                    <img src="~/Content/images/busmodern.jpg" alt="New York">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
    <div class="col-md-4 ticketforminner ">
        @using (Ajax.BeginForm("TicketFinder", "Ticket", new AjaxOptions { UpdateTargetId = "loadtickets" }))
        {

        <div class="form-group">

            @if (User.IsInRole("Commuter"))
            {
                <input type="text" class="form-control" placeholder="Phone Number" name="phone" value="@ViewBag.phone" required>
            }
            else
            {
                <input type="text" class="form-control" placeholder="Phone Number" name="phone" required>
            }
            </div>
            <div class="form-group">

                @Html.DropDownList("Location", (SelectList)ViewData["locationname"], "--From--", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownList("Destination", (SelectList)ViewData["locationname"], "--To--", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="date" class="form-control" placeholder="TravelDate" name="TravelDate">
            </div>
            <button type="submit" class="btn myticketformbtn">Search Ticket</button>

            }
        </div>
</div>




<div class="row">
    <div class=" ticketloader" id="loadtickets">

    </div>
</div>


<div class="row" style="margin-top: 50px;">
    <div class="col-md-4 infocard">
        <h2>Buy and Manage Your tickets</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 infocard">
        <h2>Review Your Trip</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 infocard">
        <h2>Bus Service Companies</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
